<template>
  <div>
    <comHeader></comHeader>
    <main role="main">
      <section class="py-5">
        <b-container>
          <b-row>
            <div class="col-md-6">
              <b-card-group>
                <b-card no-body header="技术文章">
                  <b-list-group flush> </b-list-group>
                </b-card>
              </b-card-group>
            </div>
            <div class="col-md-6">
              <b-card-group>
                <b-card no-body header="杂七杂八">
                  <b-list-group flush>
                    <b-list-group-item
                      :href="b.BaseUrl"
                      v-for="(b, i) in blogs"
                      :key="i"
                    >
                      <h6 class="mb-1 text-nowrap text-truncate">
                        {{ b.Title }}
                      </h6>
                      <small class="text-muted">{{ b.CreateAt }}</small>
                    </b-list-group-item>
                  </b-list-group>
                </b-card>
              </b-card-group>
            </div>
          </b-row>
        </b-container>
      </section>
    </main>
    <comFooter></comFooter>
  </div>
</template>
<script>
import comHeader from "../components/comHeader";
import comFooter from "../components/comFooter";
import { blogs } from "../utils/list";

export default {
  name: "blog",
  components: {
    comHeader,
    comFooter,
  },
  data() {
    return {
      blogs: blogs.reverse(),
    };
  },
};
</script>
<style scoped>
</style>