<template>
  <div>
    <comHeader></comHeader>
    <main role="main">
      <section class="py-5">
        <b-container>
          <b-card-group>
            <b-card no-body header="博客">
              <b-card-body>
                <h3>{{ blog.Title }}</h3>
                <small class="text-muted">
                  发布时间：
                  <span>{{ blog.CreateAt }}</span>
                </small>
                <hr />
                <article class="markdown-body" v-html="fileContent"></article>
              </b-card-body>
            </b-card>
          </b-card-group>
        </b-container>
      </section>
      <section class="py-5">
        <b-container>
          <h4>评论区</h4>
          <gitTalk></gitTalk>
        </b-container>
      </section>
    </main>
    <comFooter></comFooter>
  </div>
</template>
<script>
import comHeader from "../components/comHeader";
import comFooter from "../components/comFooter";
import gitTalk from "../components/gitTalk";
import showdown from "showdown";
import { blogs } from "../utils/list";

export default {
  name: "blogIndex",
  components: { comHeader, comFooter, gitTalk },
  data() {
    return {
      blog: {},
      fileContent: "",
      fileToRender: "",
    };
  },
  created() {
    let isLink = this.getFileLink(this.$route.params.id);
    if (isLink) {
      this.fileToRender = isLink;
      this.getContent();
      document.title = this.blog.Title + " - BestHub";
    } else {
      location.href = "/404";
    }
  },
  methods: {
    getFileLink(id) {
      let bs = blogs;
      for (var i in bs) {
        if (bs[i].Uid == id) {
          this.blog = bs[i];
          return bs[i].FileLink;
        }
      }
      return false;
    },
    getContent() {
      let self = this;
      let converter = new showdown.Converter();
      self.$axios.get(self.fileToRender).then(
        (res) => {
          self.fileContent = converter.makeHtml(res.data);
        },
        (err) => {
          self.fileContent = "请求失败";
          return err;
        }
      );
    },
  },
};
</script>
<style scoped>
.card-body {
  padding: 3rem 3rem 2rem;
}
.markdown-body {
  padding: 30px 0;
  margin: 0;
  max-width: 1080px;
}
@media (max-width: 768px) {
  .card-body {
    padding: 1rem;
  }
}
</style>
