<template>
  <div>
    <comHeader></comHeader>
    <main role="main" class="py-5">
      <section>
        <navList></navList>
      </section>
      <section class="mt-5">
        <b-container>
          <div v-for="(l, i) in list" :key="i">
            <h3>{{ l.Title }}</h3>
            <b-row class="pt-3 pb-5">
              <div class="col-md-2" v-for="(inner, i) in l.InnerList" :key="i">
                <b-link :href="inner.BaseUrl">
                  <div class="list-group-item-action text-center px-4 py-4">
                    <b-img
                      fluid
                      rounded="circle"
                      :src="inner.LogoUrl"
                      alt="no found"
                      width="100"
                      height="100"
                    ></b-img>
                    <p class="pt-3 text-dark">{{ inner.Title }}</p>
                  </div>
                </b-link>
              </div>
            </b-row>
          </div>
        </b-container>
      </section>
    </main>
    <comFooter></comFooter>
  </div>
</template>
<script>
import comHeader from "../components/comHeader";
import comFooter from "../components/comFooter";
import navList from "../components/navList";
import { typeList, personList } from "../utils/list";

export default {
  name: "explore",
  components: {
    comHeader,
    comFooter,
    navList,
  },
  data() {
    return {
      list: [],
    };
  },
  created() {
    this.getList();
  },
  methods: {
    getList() {
      let tList = typeList;
      let pList = personList;
      let newList = [];

      for (var i in tList) {
        let newItem = {};
        newItem.Title = tList[i].Title;
        newItem.InnerList = [];
        for (var j in pList) {
          if (tList[i].Id == pList[j].TypeId) {
            newItem.InnerList.push(pList[j]);
          }
        }
        newList.push(newItem);
      }

      this.list = newList;
    },
  },
};
</script>
<style scoped>
a:hover {
  text-decoration: none;
}
</style>