<template>
  <div>
    <comHeader></comHeader>
    <main role="main">
      <section class="mt-5">
        <b-container>
          <b-jumbotron bg-variant="dark" text-variant="white">
            <h2>打造属于个人的互联网名片</h2>
            <p>
              如果每个人都能完成一次「线上发布会」，那么这个世界将大放异彩。
            </p>
            <b-button
              class="mt-2"
              variant="primary"
              href="https://github.com/jujiaocx/besthub"
              target="_blank"
              >我要自荐</b-button
            >
          </b-jumbotron>
        </b-container>
      </section>

      <section>
        <navList></navList>
      </section>

      <section class="mt-3 mb-5">
        <b-container>
          <b-row>
            <div class="col-md-2" v-for="(p, i) in pList" :key="i">
              <b-link :href="p.BaseUrl" class="txt-decoration">
                <div class="list-group-item-action text-center px-4 py-4">
                  <b-img
                    fluid
                    rounded="circle"
                    :src="p.LogoUrl"
                    alt="no found"
                    width="100"
                    height="100"
                  ></b-img>
                  <p class="pt-3 text-dark">{{ p.Title }}</p>
                </div>
              </b-link>
            </div>
          </b-row>
        </b-container>
      </section>
    </main>
    <comFooter></comFooter>
  </div>
</template>

<script>
import { personList } from "../utils/list";
import comHeader from "../components/comHeader";
import comFooter from "../components/comFooter";
import navList from "../components/navList";

export default {
  name: "index",
  components: {
    comHeader,
    comFooter,
    navList,
  },
  data() {
    return {
      pList: personList.reverse(),
    };
  },
};
</script>
<style scoped>
a:hover {
  text-decoration: none;
}
</style>
