<template>
  <div>
    <comHeader></comHeader>
    <main role="main" class="no-found">
      <section class="text-center">
        <b-card>
          <h2>404</h2>
          <b-card-text>页面未找到</b-card-text>
        </b-card>
      </section>
    </main>
    <comFooter></comFooter>
  </div>
</template>

<script>
import comHeader from "../components/comHeader";
import comFooter from "../components/comFooter";

export default {
  name: "not-found",
  components: {
    comHeader,
    comFooter,
  },
};
</script>

<style scoped>
.no-found {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.no-found .card {
  width: 10rem;
  text-align: center;
}
</style>