<template>
  <div>
    <comHeader></comHeader>
    <main role="main" class="py-5">
      <b-container>
        <section>
          <div class="item-header">
            <div v-if="item.LogoUrl">
              <b-img
                thumbnail
                fluid
                rounded="circle"
                :src="item.LogoUrl"
                alt="no found"
                width="100"
                height="100"
              ></b-img>
            </div>
            <div v-if="item.Title" class="pl-2">
              <strong>{{ item.Title }}</strong>
            </div>
          </div>
          <div class="mt-4 top-meta">
            <p v-if="item.Location">
              <i class="iconfont icon-location" aria-hidden="true"></i
              ><span>{{ item.Location }}</span>
            </p>
            <p v-if="item.Email">
              <i class="iconfont icon-email" aria-hidden="true"></i
              ><span>{{ item.Email }}</span>
            </p>
            <p v-if="item.Profile">
              <i class="iconfont icon-profile" aria-hidden="true"></i
              ><span>{{ item.Profile }}</span>
            </p>
            <p class="item-tags">
              <i class="iconfont icon-tags" aria-hidden="true"></i>
              <strong v-for="(t, i) in item.Tags" :key="i" class=""
                ><b-badge>{{ t.Name }}</b-badge></strong
              >
            </p>
          </div>
        </section>
        <section>
          <b-row>
            <div class="col-md-8 pt-3">
              <b-card header="我的作品">
                <div v-if="item.Content.length <= 0">暂时没有任何内容</div>
                <b-row
                  v-else
                  v-for="(c, i) in item.Content"
                  :key="i"
                  class="pb-4"
                >
                  <div class="col-md-3">
                    <b-img-lazy
                      rounded
                      :src="c.ImageUrl"
                      alt="image not found"
                      width="150"
                      height="100"
                    ></b-img-lazy>
                  </div>
                  <div class="col-md-9">
                    <strong
                      ><a :href="c.Link" class="text-dark" target="_blank">{{
                        c.Title
                      }}</a></strong
                    >
                  </div>
                </b-row>
              </b-card>
              <b-card class="mt-3" header="社交媒体">
                <p v-if="item.FocusUs.In && item.FocusUs.In.length > 0">
                  <b-card-text>国内社交</b-card-text>
                  <b-card-text class="focus-us">
                    <a
                      :href="f.Link"
                      target="_blank"
                      v-for="(f, i) in item.FocusUs.In"
                      :key="i"
                    >
                      <i :class="'iconfont icon-' + f.Title"></i>
                    </a>
                  </b-card-text>
                </p>
                <p v-if="item.FocusUs.Out && item.FocusUs.Out.length > 0">
                  <b-card-text>国际社交</b-card-text>
                  <b-card-text class="focus-us">
                    <a
                      :href="f.Link"
                      target="_blank"
                      v-for="(f, i) in item.FocusUs.Out"
                      :key="i"
                    >
                      <i :class="'iconfont icon-' + f.Title"> </i>
                    </a>
                  </b-card-text>
                </p>
              </b-card>
            </div>
            <div class="col-md-4 pt-3">
              <b-card header="我的百科">
                <div v-if="item.Encyclopedia.length > 0">
                  <b-card-text v-for="(e, i) in item.Encyclopedia" :key="i"
                    ><b-button block :href="e.Link" target="_blank">
                      {{ e.Title }}</b-button
                    ></b-card-text
                  >
                </div>
                <b-card-text v-else>暂时没有任何内容</b-card-text>
              </b-card>
              <b-card header="我的荣誉" class="mt-3">
                <div v-if="item.Honor.length > 0">
                  <b-card-text v-for="(h, i) in item.Honor" :key="i">
                    <i class="iconfont icon-star"></i>
                    {{ h.Name }}
                  </b-card-text>
                </div>
                <b-card-text v-else>暂时没有任何内容</b-card-text>
              </b-card>
            </div>
          </b-row>
        </section>
        <section class="mt-5">
          <h4>评论区</h4>
          <gitTalk></gitTalk>
        </section>
      </b-container>
    </main>
    <comFooter></comFooter>
  </div>
</template>

<script>
import comHeader from "../components/comHeader";
import comFooter from "../components/comFooter";
import { personList } from "../utils/list";
import gitTalk from "../components/gitTalk";

export default {
  name: "personIndex",
  components: { comHeader, comFooter, gitTalk },
  data() {
    return {
      item: [],
    };
  },
  created() {
    let id = this.$route.params.id;
    if (!this.getItem(id)) {
      location.href = "/404";
    }
    document.title = this.item.Title + " - BestHub";
  },
  methods: {
    getItem(id) {
      let list = personList;
      for (var i in list) {
        if (list[i].Uid == id) {
          this.item = list[i];
          this.item.Content = this.item.Content.reverse();
          return true;
        }
      }
      return false;
    },
  },
};
</script>
<style scoped>
.item-header {
  display: flex;
  align-items: flex-end;
  font-size: 1.2rem;
}
.top-meta p i {
  color: #828282;
  font-size: 0.8rem;
}
.top-meta p span {
  margin-left: 0.6rem;
  font-size: 0.9rem;
}
.top-meta .item-tags span {
  font-size: 0.6rem;
}
.focus-us a {
  display: inline-block;
  margin-right: 0.5rem;
  color: #828282;
  margin-bottom: 0.5rem;
}
.focus-us a i {
  font-size: 25px;
  padding: 0 0.5rem;
}
.focus-us a:hover {
  color: #000;
}
a:hover {
  text-decoration: none;
}
</style>