<template>
  <div>
    <comHeader></comHeader>
    <main role="main" class="py-5">
      <section>
        <navList></navList>
      </section>
      <section class="mt-5">
        <b-container>
          <h3>今日推荐</h3>
          <div class="mt-4">
            <b-jumbotron bg-variant="dark" text-variant="white">
              <b-img
                fluid
                rounded="circle"
                :src="recommendItem.LogoUrl"
                alt="no found"
                width="120"
                height="120"
              ></b-img>
              <h3 class="mt-3">{{ recommendItem.Title }}</h3>
              <p>
                {{ recommendItem.Profile }}
              </p>
              <b-button
                class="mt-2"
                variant="primary"
                :href="recommendItem.BaseUrl"
                >了解详情</b-button
              >
            </b-jumbotron>
          </div>
        </b-container>
      </section>
      <section class="mt-5 mb-5">
        <b-container>
          <h3>值得关注</h3>
          <div class="mt-4">
            <b-row>
              <div class="col-md-2" v-for="(p, i) in pList" :key="i">
                <b-link :href="p.BaseUrl">
                  <div class="list-group-item-action text-center px-4 py-4">
                    <b-img
                      fluid
                      rounded="circle"
                      :src="p.LogoUrl"
                      alt="no found"
                      width="100"
                      height="100"
                    ></b-img>
                    <p class="pt-3 text-dark">{{ p.Title }}</p>
                  </div>
                </b-link>
              </div>
            </b-row>
          </div>
        </b-container>
      </section>
    </main>
    <comFooter></comFooter>
  </div>
</template>

<script>
import comHeader from "../components/comHeader";
import comFooter from "../components/comFooter";
import navList from "../components/navList";
import { typeList, personList } from "../utils/list";

export default {
  name: "typeIndex",
  components: { comHeader, comFooter, navList },
  data() {
    return {
      tItem: {},
      pList: [],
      recommendItem: {},
    };
  },
  created() {
    let id = this.$route.params.id;
    if (!this.getType(id)) {
      location.href = "/404";
    }
    document.title = this.tItem.Title + " - BestHub";

    this.getPerson(id);
  },
  methods: {
    getType(id) {
      let list = typeList;
      for (var i in list) {
        if (list[i].Type == id) {
          this.tItem = list[i];
          return true;
        }
      }
      return false;
    },
    getPerson(id) {
      let newList = [];
      let list = personList;
      for (var i in list) {
        if (list[i].TypeId == id) {
          newList.push(list[i]);
        }
      }
      this.pList = newList;
      this.recommendItem = newList[newList.length - 1];
    },
  },
};
</script>
<style scoped>
</style>