<template>
  <div>
    <footer class="footer py-3">
      <b-container>
        <b-row>
          <div class="col-md-6">
            <p class="mb-0">
              © 2020 besthub.me All Rights Reserved
              <!-- <a href="/blog/about" class="pl-4">关于我们</a>
              <a href="/blog/contact" class="pl-4">联系我们</a>
              <a href="/blog" class="pl-4">官方博客</a>-->
            </p>
          </div>
          <div class="col-md-6">
            <p class="text-right mb-0">
              <a href="/blog/contact" class="pr-2"> 联系我们 </a>
              <a href="/blog/about" class="pr-2"> 关于我们 </a>
              <a href="/blog"> 官方博客 </a>
            </p>
          </div>
          <!-- <div class="col-md-4">
            <div>BestHub - 聚焦有趣的技术和产品</div>
            <p
              class="pt-3"
              style="color:#cdd6e9"
            >在这里分享互联网上有趣的事物，覆盖各种网站、工具、内容、技术和产品。帮助开发者和互联网爱好者寻找最好的工具，提升工作和学习效率。</p>
          </div>
          <div class="col-md-4">
            <div>关于</div>
            <ul class="list-unstyled pt-3">
              <li>
                <a href="/blog">博客</a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <div>关注 / 联系</div>
            <ul class="list-unstyled pt-3">
              <li>
                <a href="https://github.com/jujiaocx" target="_blank">
                  <i class="fa fa-github"aria-hidden="true"></i> GitHub
                </a>
              </li>
              <li>
                <a href="https://twitter.com/jujiaocx" target="_blank">
                  <i class="fa fa-twitter"aria-hidden="true"></i>Twitter
                </a>
              </li>
              <li>
                <a href="https://telegram.me/jujiaocx" target="_blank">
                  <i class="fa fa-telegram"aria-hidden="true"></i>Telegram
                </a>
              </li>
              <li>
                <a title="电子邮件" href="mailto:jujiaocx@gmail.com" target="_blank">
                  <i class="fas fa-envelope" aria-hidden="true"></i>jujiaocx@gmail.com
                </a>
              </li>
            </ul>
          </div>-->
        </b-row>
      </b-container>
    </footer>
  </div>
</template>
<script>
export default {
  name: "comFooter",
};
</script>
<style scoped>
.footer {
  color: #fff;
  background-color: #24292e !important;
}
.footer ul li {
  padding-bottom: 1rem;
}
.footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 0.1rem;
}
.footer a i {
  font-size: 1.4rem;
}
</style>
