<template>
  <div>
    <header>
      <b-navbar toggleable="lg" type="dark" variant="dark">
        <b-container>
          <b-navbar-brand href="/">BestHub</b-navbar-brand>

          <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

          <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav>
              <li class="nav-item">
                <router-link class="nav-link" to="/explore"
                  >发现更多</router-link
                >
              </li>
              <li class="nav-item">
                <router-link class="nav-link" to="/blog">官方博客</router-link>
              </li>
              <!-- <li class="nav-item">
                <router-link class="nav-link" to="/product"
                  >聚焦产品</router-link
                >
              </li>
              <li class="nav-item">
                <router-link class="nav-link" to="/person"
                  >聚焦红人</router-link
                >
              </li>

              <li class="nav-item">
                <router-link class="nav-link" to="/company"
                  >明星企业</router-link
                >
              </li> -->
              <!-- <li class="nav-item">
                <router-link class="nav-link" to="/blog">官方博客</router-link>
              </li> -->
            </b-navbar-nav>

            <b-navbar-nav class="ml-auto">
              <b-nav-item
                href="https://github.com/jujiaocx/besthub"
                target="_blank"
                class="nav-github"
              >
                <i class="iconfont icon-github" aria-hidden="true"></i>
              </b-nav-item>
            </b-navbar-nav>
          </b-collapse>
        </b-container>
      </b-navbar>
    </header>
  </div>
</template>
<script>
export default {
  name: "comHeader",
};
</script>
<style scoped>
.navbar-dark {
  background-color: #24292e !important;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .router-link-exact-active {
  color: #fff;
}
.nav-github a {
  padding: 0;
}
.nav-github a i {
  font-size: 25px;
}
</style>
