<template>
  <div class="bg-dark text-white text-center py-3">
    <b-container>
      <b-row>
        <div class="col-md-4">
          <p>产品数</p>
          <h4>{{productLen}}</h4>
        </div>
        <div class="col-md-4">
          <p>红人数</p>
          <h4>{{personLen}}</h4>
        </div>
        <div class="col-md-4">
          <p>动态数</p>
          <h4>{{newsLen}}</h4>
        </div>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import { productItem, personItem, newsItem } from "../utils/list";

export default {
  name: "count-data",
  data() {
    return {
      productLen: productItem.length,
      personLen: personItem.length,
      newsLen: newsItem.length,
    };
  },
  methods: {},
};
</script>
<style scoped>
</style>