<template>
  <div id="gitalk-container" class="gitalk-container"></div>
</template>

<script>
import Gitalk from "gitalk";

export default {
  name: "gitTalk",
  data() {
    return {
      gitalk: new Gitalk({
        id: location.pathname,
        clientID: "bc5d589415355d49265c",
        clientSecret: "66228c2626704e6841d3e90c2f0316091b5a47ec",
        repo: "jujiaocx.github.io",
        owner: "jujiaocx",
        admin: ["jujiaocx"],
        labels: ["jujiaocx"],
        perPage: 20,
        distractionFreeMode: false,
      }),
    };
  },
  mounted() {
    this.gitalk.render("gitalk-container");
  },
};
</script>
<style>
.gitalk-container .markdown-body {
  padding: 10px;
}
</style>