<template>
  <div class="nav-wb">
    <b-container>
      <hr />
      <b-row class="lh-3">
        <div class="col-md-1" v-for="(tl, i) in typeList" :key="i">
          <router-link :to="tl.BaseUrl" @click.native="flush">{{
            tl.Title
          }}</router-link>
        </div>
      </b-row>
      <hr />
    </b-container>
  </div>
</template>

<script>
import { typeList } from "../utils/list";

export default {
  name: "nav-list",
  data() {
    return {
      typeList: typeList,
    };
  },
  methods: {
    flush() {
      this.$router.go(0);
    },
  },
};
</script>
<style scoped>
.nav-wb a {
  color: #000;
}

.nav-wb a:hover,
.nav-wb .router-link-exact-active {
  color: #007bff;
}
</style>