<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: "App",
  components: {},
};
</script>

<style>
.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

.lh-1 {
  line-height: 1rem;
}

.lh-2 {
  line-height: 2rem;
}

.lh-3 {
  line-height: 3rem;
}

main {
  min-height: 690px;
}
</style>
